.ant-carousel .slick-dots {
  bottom: 20px;
}

.ant-carousel .slick-dots li button {
  background: #fff;
  opacity: 0.5;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: #fff;
}

.ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
}
